body {
  background-color: #f2f2ed;
}

h1 {
  margin: 15px auto;
}


h2{
  margin-left: 15px;
  margin-top: 10px;
}

.output-div {
  text-align:center;
  margin: 8px 70px 0 0;
}

.card {
  background-color: #f7f7f5;
  margin-bottom: 25px;
}
